
{% extends "header.html" %}


{%block title%}
User Home page
{%endblock%}
{%block content%}

{% load crispy_forms_tags %}

<!--Login--> 
<div class="container py-5">
  <h1>Upload PDF</h1>

    <form method="POST" class="post-form" enctype="multipart/form-data">  
        {% csrf_token %}
        {{ pdf_upload|crispy }} 
        <br> 
            <button type="submit" class="btn btn-primary">🔁 Convert</button> <br><br>

            {%if status == 'success' %}
            <b>
            <a href="user_audio_download" class="btn btn-success">⬇️ Download</a> &nbsp &nbsp
            <a href="user_audio_play" class="btn btn-warning">🎵 Play</a> &nbsp &nbsp
            <a href="user_pdf_upload" class="btn btn-danger">🔁 Convert Another File</a>
            {%endif%}
    </form>  
</div>
{% endblock %}