
{% extends "header.html" %}


{%block title%}
User Home page
{%endblock%}
{%block content%}

{% load crispy_forms_tags %}

<!--Login--> 
<div class="container py-5">
  <h1>Upload PDF</h1>

    <form method="POST" class="post-form" enctype="multipart/form-data">  
        {% csrf_token %}
        {{ pdf_upload|crispy }}  
            <button type="submit" class="btn btn-primary">Convert</button>  
            {%if status == 'success' %}
            <a href="user_audio_download" class="btn btn-success">Download</a>
            <a href="user_audio_play" class="btn btn-warning">Play</a>
            {%endif%}
    </form>  
</div>
{% endblock %}