
{% extends "header.html" %}


{%block title%}
User Home page
{%endblock%}
{%block content%}

{% load crispy_forms_tags %}

<!--Login--> 
<div class="container py-5">
  <h1>Upload PDF</h1>

    <form method="POST" class="post-form" enctype="multipart/form-data">  
        {% csrf_token %}
        {{ translate|crispy }}  
        <br>
            <button type="submit" class="btn btn-primary">🔁 Translate</button> &nbsp &nbsp &nbsp  
            
            {%if text %}
            <a class="btn btn-danger" href='user_pdf_translate'>🔁 Translate Again</a><br><br>
            <p style='background:#dce6ef;padding:25px;border-radius:5px;'>{{text}}</p>
            {%endif%}
    </form>  
</div>
{% endblock %}