{% extends "header.html" %}


{%block title%}
user page
{%endblock%}
{%block content%}
<form method="post">
    {%csrf_token%}
    <table>
        <tr>
            <th>First Name</th>
            <td><input type="text" name="firstname" ></td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td><input type="text" name="lastname" ></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <th>Phone No</th>
            <td><input type="text" name="phone"></td>
        </tr>
        <tr>
            <th>User Name</th>
            <td><input type="text" name=" username"></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            
            <td colspan="2" align="center"><input type="submit" name="signup" value="Register" ></td>
        </tr>
</table>
</form>
{%endblock%}